
        <div class="footer">
        <strong>(TS)</strong>www.yibar.com<br />
        &copy; Copyright Yibar. All Rights Reserved
        </div><style>
*{margin:0;padding:0;list-style:none;word-wrap:break-word;}
a,area {outline:none;}
a:active{star:expression(this.onFocus=this.blur());}
:focus{outline: 0;}
html,body {margin: 0;padding:0;height: 100%;}
img{border:none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,select
        {
        margin: 0;
        padding: 0;
        font-family:Microsoft Sans Serif;
}
        html,body {margin: 0;padding:0;height: 100%;}
        #header {
        	/*background: #000;*/
        height:63px;}
        #main {background: #c0c0c0;}
body {
        font-size:14px;
        line-height: 1.5;
}
        #logo{
        float:left;
        padding: 4px 0;
}
.list{
        background: #FFF;
        padding:20px 50px;
        border: 1px solid #999;
        margin-bottom: 10px;
        min-height: 70px;
}

ul
{
list-style-type: none;
padding: 0;
margin-left: 1em;
}
.footer{
	width:100%;color:black;font-size:10px;padding: 10px;
}
</style>
