<div id="header">
                <div id="logo">
                   <a title="GoodChinese" href="http://goodchinese.com"target="_blank"><img src="http://goodchinese.com/images/home/logo.png" ></a>
            </div>
</div>
<div id="main">
        <div class="container list">
         <p>
	   亲爱的 <%= @user.login_name %>,<br/><br/>

                              您的账户密码修改成功.<br/>
             Email: <%= @user.email %><br/>
                              密码: <%= @user.password %><br/>
	    <br/>
        </div>
</div>
<%=render :partial=>"/user_mailer/style"%>
