    
<div>	 
<%=javascript_include_tag "login_and_sign"%>
<%=stylesheet_link_tag "login_and_sign"%>
<div class="container">
	<%=render :partial=>"/users/sign"%>
	<%=render :partial=>"/sessions/login"%>
</div>
</div>    
 