<div class="bottomContainer">
  	<ul>
  		<li><span  >T2max最新资讯<!--span--></span></li>
  		<li><span  >VIP最新资讯<!--span--></span></li>
  		<li style="&#xD;&#xA;margin-right: -1px;&#xD;&#xA;"><span  >特别优惠<!--span--></span></li>
  	</ul>
  	<div class="open mainBox" style="display:none">
		  	<div class="box">
		  		<div class="text" style="padding-left:9px;" id="pane3_1449">
		  			<table cellspacing="0" cellpadding="0" border="0" width="100%">
		  				<!--table-->
		  				<tr>
		  					<td width="100">Every Monday, Wednesday, Friday and Saturday </td>
		  					<td><a href="#" class="whatson_detail_link" id="href_4707">DEVDAN "TREASURE OF THE ARCHIPELAGO"</a></td>
		  				</tr>
		  			</table>
		  		</div>
		  	</div>
		  	<div class="box whatson-box" id="box_href_4707">
		  		<h2 id="eventTitle_4707"><!--h2--></h2>
		  		    <div class="text scroll-pane scroll-pane-whatson"><!--pane4-->
		  			</div>
		  			<div class="bottom left">
		  				<a href="#">联系我们</a>
					</div>
			</div>
			<div class="box whatson-box" id="box_href_4707_2">
				<div class="close">
					<a href="#">关闭 x</a>
				</div>
				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_4707">
					<img width="203" height="215" alt="" src="/images/oldimages/bali - legong.jpg" />
				</div>
			</div>
	</div>
	<div class="open mainBox" style="display:none">
		<div class="box">
			<div class="text" style="padding-left:9px;" id="pane3_1660">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<!--table-->
					<tr>
						<td width="100">5 November - 20 December 2012</td>
						<td><a href="#" class="whatson_detail_link" id="href_5028">MAINTENANCE NOTIFICATION</a></td>
					</tr>
					<tr>
						<td width="100">Daily 02.00 - 05.00 pm</td>
						<td><a href="#" class="whatson_detail_link" id="href_2876">AFTERNOON TEA AT THE BAR</a></td>
					</tr>
					<tr>
						<td width="100">Daily</td>
						<td><a href="#" class="whatson_detail_link" id="href_3881">GOURMET LOBSTER EXPERIENCE</a></td>
						</tr>
					<tr>
						<td width="100">Daily starting from 06.30 pm</td>
						<td><a href="#" class="whatson_detail_link" id="href_2602">BALINESE FOOD EXPERIENCE</a></td>
					</tr>
					<tr>
						<td width="100">Daily</td>
						<td><a href="#" class="whatson_detail_link" id="href_2484">CITA RASA KAMPUNG</a></td>
					</tr>
					<tr>
						<td width="100">24 December 2012</td>
						<td><a href="#" class="whatson_detail_link" id="href_5099">ATION AT SANGKAR RESTAURANT</a></td>
					</tr>
					<tr>
						<td width="100">24 December 2012</td>
						<td><a href="#" class="whatson_detail_link" id="href_5100">CHRISTMAS EVE CELE IL RISTORANTE</a></td>
					</tr>
					<tr>
						<td width="100">31 December 2012</td>
						<td><a href="#" class="whatson_detail_link" id="href_5098">NEW YEAR’S EVE CELEBRATION</a></td>
					</tr>
					</table>
				</div>
			</div>
					<div class="box whatson-box" id="box_href_5028">
						<h2 id="eventTitle_5028"><!--h2--></h2>
						<div class="text scroll-pane scroll-pane-whatson">
						</div>
						<div class="bottom left">
							<a href="#">联系我们</a>
						</div>
					</div>
					<div class="box whatson-box" id="box_href_5028_2">
						<div class="close">
							<a href="#">关闭 x</a>
						</div>
						<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_5028">
							<img width="203" height="215" alt="" src="/images/oldimages/la spiaggia.jpg"/>
						</div>
					</div>
					<div class="box whatson-box" id="box_href_2876">
						<h2 id="eventTitle_2876"><!--h2--></h2>
						<div class="text scroll-pane scroll-pane-whatson">
						</div>
						<div class="bottom left">
						<a href="#">联系我们</a>
						</div>
					</div>
					<div class="box whatson-box" id="box_href_2876_2">
						<div class="close">
							<a href="#">关闭 x</a>
						</div>
						<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_2876">
							<img width="203" height="215" alt="" src="/images/oldimages/the bar @ sunset - smallcrop.jpg"/>
						</div>
					</div>
					<div class="box whatson-box" id="box_href_3881">
						<h2 id="eventTitle_3881"><!--h2--></h2>
						<div class="text scroll-pane scroll-pane-whatson"><!--pane4-->						
						</div>
						<div class="bottom left">
							<a href="#">联系我们</a>
						</div>
					</div>
					<div class="box whatson-box" id="box_href_3881_2">
						<div class="close">
							<a href="#">关闭 x</a>
						</div>
					    <div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_3881">
						<img width="203" height="215" alt="" src="/images/oldimages/gourmet lobster.jpg"/>
	     				</div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_2602">
	     				<h2 id="eventTitle_2602"><!--h2--></h2>
	     				<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     				<div class="bottom left"><a href="#">联系我们</a></div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_2602_2">
	     				<div class="close"><a href="#">关闭 x</a></div>
	     				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_2602">
	     					<img width="203" height="215" alt="" src="/images/oldimages/rud_7595crop.jpg"/>
	     				</div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_2484">
	     				<h2 id="eventTitle_2484"><!--h2--></h2>
	     				<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     				<div class="bottom left"><a href="#">联系我们</a></div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_2484_2">
	     				<div class="close"><a href="#">关闭 x</a></div>
	     				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_2484">
	     					<img width="203" height="215" alt="" src="/images/oldimages/cita rasa kampung.jpg"/>
	     				</div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5099">
	     				<h2 id="eventTitle_5099"><!--h2--></h2>
	     				<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     				<div class="bottom left"><a href="#">联系我们</a></div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5099_2">
	     				<div class="close"><a href="#">关闭 x</a></div>
	     				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_5099">
	     					<img width="203" height="215" alt="" src="/images/oldimages/the sangkar restaurant.jpg"/>
	     				</div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5100">
	     				<h2 id="eventTitle_5100"><!--h2--></h2>
	     				<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     				<div class="bottom left"><a href="#">联系我们</a></div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5100_2">
	     				<div class="close"><a href="#">关闭 x</a></div>
	     				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_5100">
	     					<img width="203" height="215" alt="" src="/images/oldimages/il ristorante - approved lighter color 300dpi.jpg"/>
	     				</div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5098">
	     				<h2 id="eventTitle_5098"><!--h2--></h2>
	     				<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     				<div class="bottom left"><a href="#">联系我们</a></div>
	     			</div>
	     			<div class="box whatson-box" id="box_href_5098_2">
	     				<div class="close"><a href="#">关闭 x</a></div>
	     				<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_5098">
	     					<img width="203" height="215" alt="" src="/images/oldimages/nye.web.1.jpg"/>
	     				</div>
	     			</div>
	     	</div>
	     	<div class="open mainBox" style="display:none">
	     		<div class="box">
	     			<div class="text" style="padding-left:9px;" id="pane3_1661">
	     				<table cellspacing="0" cellpadding="0" border="0" width="100%">
	     					<!--table-->
	     					<tr>
	     						<td width="100">until 30 November 2012</td>
	     						<td><a href="#" class="whatson_detail_link" id="href_5106">EXCLUSIVE PROPOSAL AT THE BVLGARI VILLA</a></td>
	     					</tr>
	     					<tr>
	     						<td width="100">1 - 31 December 2012</td>
	     						<td><a href="#" class="whatson_detail_link" id="href_4530">INDONESIAN WEEKEND SPECIAL OFFER</a></td>
	     					</tr>
	     				</table>
	     			</div>
	     		</div>
	     		<div class="box whatson-box" id="box_href_5106">
	     			<h2 id="eventTitle_5106"><!--h2--></h2>
	     			<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     			<div class="bottom left"><a href="#" >联系我们</a></div>
	     		</div>
	     		<div class="box whatson-box" id="box_href_5106_2">
	     			<div class="close"><a href="#">关闭 x</a></div>
	     			<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_5106">
	     				<img width="203" height="215" alt="" src="/images/oldimages/external view of the bulgari villa.15.5x11.jpg" />
	     			</div>
	     		</div>
	     		<div class="box whatson-box" id="box_href_4530">
	     			<h2 id="eventTitle_4530"><!--h2--></h2>
	     			<div class="text scroll-pane scroll-pane-whatson"><!--pane4--></div>
	     			<div class="bottom left"><a href="#" >联系我们</a></div>
	     		</div>
	     		<div class="box whatson-box" id="box_href_4530_2">
	     			<div class="close"><a href="#">关闭 x</a></div>
	     			<div class="text" style="height:250px;padding:7px 0 0 19px;" id="pane5_4530">
	     				<img width="203" height="215" alt="" src="/images/oldimages/the bar view from sangkar restaurant.8x6.5.jpg"/>
	     			</div>
	     		</div>
	     	</div>	     	
  </div> 