
     <div id="footer">
            <div id="footer-v0">
                <div class="footer-container">
                    <div class="ali-pages">
                        <p id="copyright"><%=t :t2max%>&nbsp;&nbsp;<%if current_user&&(current_user.is_admin?||current_user.work)%> <a href="/admins" target="_blank"><%=t :t2max_admins%></a><%end%></p>
                        <ul>
                            <li><a href="/"  title=""></a></li>
                          </ul>
                    </div>
                    <div class="ali-group">
                        <dl>
                            <dt><a href="/" title="<%=t :t2max%>">Copyright © 2013 T2MAX Net Site. Powered by T2MAX, Theme by www.t2max.com </a></dt>
                            </dl>
                    </div>
                </div>
            </div>
      </div>