	<div id="header">
			<div id="masthead-v4" class="w952 fd-clr">
			    <div class="ali-logo-v4">
					    	<div class="yiba-logo">
						         <a title="<%=t(:website)%>" href="/" class="main-logo-v4">
						         	<img  src="/images/logo.png">
					         	</a>
					        </div>
			     </div>
			</div> 
		</div>