
<div class="collapsed" style="width:927px;">
  		<div class="left"><span><b>T2MAX机场服务专区</b></span></div>
  		<div class="right"><a href="#" title="展开">展开</a></div>
  		<div class="clear"></div>
  	</div>
  	<div class="open"  style="height:630px;">
  		
  	<div class="sx" style="margin-right: 250px"><!-- <h1 style="font-size: 22px;
color: #56cdff;
font-weight: normal;
padding: 8px 0 8px 0;">T2MAX机场服务专区</h1> -->
  	 <div class="floatLeft" style="background-color:#56cdff;width:307px;height:26px "><font color="#4e4e4e" style="margin-left:15px;font-size:18px;line-height:26px  "><b>会员尊享免费服务</b></font></div>
	 <div class="floatRight awardsPanel"> </div>
	 <div class="clear"></div>
	 <div style="width: 302px">
	 <div class="text scroll-pane" id="pane2" style="height:335px;"><p style="font-size:14px ">
	T2MAX贴心为会员着想，设有以下活动区及活动<br/><br/>
	健身区<br/>
	儿童乐园<br/>
	中国传统文化演出秀<br/><br/>
	只要成为T2MAX会员即可享受。
	 	</p>	 	
	 </div>
	 </div>
	 <div class="filettoSlider"><img src="/images/oldimages/filettoBox.png" tppabs="http://www.t2max.com/img/filettoBox.png" alt="" /></div>
  	</div>
  		
  		<div class="text scroll-pane press" id="pane3" style="width:420px;z-index:-130">  			
  			<div class="pressContainer" name="0" style="z-index:-130;">
  				<img width="402" height="374" alt="" src="/images/product/culture.jpg" />
  				 <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>			  		
  				<img width="402" height="374" alt="" src="/images/product/exercises.jpg" />	
  				 <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
  				<img width="402" height="374" alt="" src="/images/product/playground.jpg" />
  				 <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>			  		
  				<img width="402" height="374" alt="" src="/images/product/pool.jpg" />			
  			</div>	
  		</div>
  	
  	</div>