
     <div class="contentContainer"  id="toshow" style="display:none ">
  	    <div class="collapsed" id="wctt">
  		<div class="left"><span>T2max</span></div>
  		<div class="right"><a href="#" title="Expand">展开</a></div>
  		<div class="clear"></div>
  		</div>
  		<div class="open">
  			<div  class="wct">
  			<div class="floatLeft" style="margin-left:15px; "><h1>T2max</h1> </div>
  			
  			<div class="clear"></div>
  			<div class="text scroll-pane" style="margin-left:15px;height: 220px  " >
  			<p >T2max以“Time, Terminal, Traveler"为核心经营要素,立足于空港，力求打造更加深入和宽泛的服务，在吸收了海内外各知名机场配套服务的有点后，将机票酒店预订、商务秘书、机场VIP快捷通道、贵宾接送机、免税品订购等融合为一站式服务，打造出创新的空港现代服务平台，并树立了顶级的“机场商旅服务管家”形象。</p>  			
  			<a href="/vipnotice" target="_blank"><img src="/images/discription/yuding.png" style="float:right;margin-top:40px;margin-right:35px "></a>  			
  			</div>
  			
  			</div>
  			
  			<div class="filettoSlider" style="height:1px;background-image:url("/images/discription/touming.png"); " ></div>
  			
  			<div class="wct">
  			<!-- <div class="bottom left" id="leftLink">
  				<ul><li ><a href="/品牌 T2max1会员章程.doc" target="_blank" style="margin-left:20px ">下载宣传册</a></li></ul>
  			</div> -->
  			<div class="bottom right" id="rightLink">
  			<ul><li ><a href="/vipnotice" target="_blank"><img src="/images/discription/tovips.png"></a> </li></ul>
  			</div>
  			<div class="clear"></div>
  			
  			</div>  			
    	</div>
  </div>
  
  <script type="text/javascript">
          var bck_Timer;
          var bck_Src = '/images/oldimages/the_resort.jpg';
          jQuery(document).ready(function () {

          if (bck_Src != 'none')
          {
          bck_Timer = setTimeout('changeBck(bck_Src)',3000);
          }
          });

          function changeBck(bck_Src)
          {
          clearTimeout(bck_Timer);
          $('#imageDisplay img.bg-image').delay(3000).attr("src", bck_Src);
          }
 </script> 
<div class="bg-container" id="imageDisplay">
       	<img src="/images/oldimages/bhr.image.empty.png"class="bg-image" id="0" />
       </div>
 <script type="text/javascript">		
		
		window.setTimeout(function(){ 
   var a=document.getElementById('toshow');	
			a.style.display="block";
   var b=document.getElementById('show_flash');	
			b.style.display="none";
   var c=document.getElementById('to_stop');	
			c.style.display="none";			
},21000); 
</script> 
 <script type="text/javascript">		
	function tostop(){ 
   var a=document.getElementById('toshow');	
			a.style.display="block";
   var b=document.getElementById('show_flash');	
			b.style.display="none";
   var c=document.getElementById('to_stop');	
			c.style.display="none";
    }; 
</script> 
<!-- <div style="position:absolute;right:185px; top:0px; width:auto;  height:auto;z-index:-1050;" id="show_flash">
  	    <embed src="/flash/showpage.swf" width="1000" height="660" quality="high"  align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash" id="videoAll"></embed>
  </div>
   -->
   <button type="button" class="button" id="to_stop" title="停止播放" onclick="tostop()" style="float:right "><img src="/images/discription/stop.png"></button>
  <div class="bg-container" id="show_flash" align="center">
  <embed src="/flash/flash.swf" width="1010" height="660" quality="high"  align="middle" allowScriptAccess="always" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" id="videoAll" style="z-index: -130"></embed>
  
  </div> 
