<!--   <div class="contentContainer">
     <div class="collapsed"><div class="left"><span  >T2max</span></div><div class="right"><a href="#" title="Expand">展开</a></div><div class="clear"></div></div>

	 <div class="open">
     <div class="floatLeft" style="background-color:#56cdff;width:287px;"><font color="#000000" style="margin-left:15px;font-size:18px "><b>SPA美体</b></font></div>
	 <div class="floatRight awardsPanel"> </div>
	 <div class="clear"></div>
	 <div class="text scroll-pane" id="pane2"><p >T2max打造非凡细节，无论是设备或用具都彰显王者气概，在环境的布局中更以人体五感为轴心,体现视觉的美感,听觉的悦耳,嗅觉的芬芳,味觉的奢华,触觉的舒适. 为您带来舒心感受。</p></div>
	 <div class="filettoSlider"><img src="/images/oldimages/filettoBox.png" tppabs="http://www.t2max.com/img/filettoBox.png" alt="" /></div>
	 <div class="bottom left" id="leftLink">
	 <ul><li ><a href="/品牌 T2max1会员章程.doc" target="_blank">下载宣传册</a></li></ul></div>
	 <div class="bottom right" id="rightLink">
	 <ul><li ><a title="ADD TO CART"  href="/stores/add_to_cart?id=6"><img width="150" height="25" alt="" src="/images/services/add_to_cart.png" /></a></li></ul></div>
  <div class="clear">  
  </div>  
    </div> 
  </div> 
  
   <div style="position:absolute;right:200px; top:20px; width:auto;  height:auto; z-index:-130;">
 <img width="630" height="640" alt="" src="/images/oldimages/spa.png" />
  </div>
  -->
<div class="collapsed" style="width:927px;">
  		<div class="left"><span><b>T2MAX机场服务专区</b></span></div>
  		<div class="right"><a href="#" title="展开">展开</a></div>
  		<div class="clear"></div>
  	</div>
  	<div class="open"  style="height:630px;">
  		
  	<div class="sx" style="margin-right: 250px"><!-- <h1 style="font-size: 22px;
color: #56cdff;
font-weight: normal;
padding: 8px 0 8px 0;">T2MAX机场服务专区</h1> -->
  	 <div class="floatLeft" style="background-color:#56cdff;width:382px;height:26px "><font color="#4e4e4e" style="margin-left:15px;font-size:18px;line-height:26px  "><b>SPA美发美甲、足浴、中医理疗</b></font></div>
	 <div class="floatRight awardsPanel"> </div>
	 <div class="clear"></div>
	 <div style="width: 377px">
	 <div class="text scroll-pane" id="pane2" style="height:335px;"><p style="font-size:14px ">
	 籍由身心灵平衡管理、抗老回春、曲雕管理、酸疼管理、抗压管理；<br/><br/>
	透过芳疗技师的温润手感来安抚、补给、修护您所求的部分； <br/><br/>
	适度触动您的味觉、听觉、嗅觉、触觉；<br/><br/>
	来提升心灵深处的能量，由内而外打到身心灵平衡、肌肤细腻润泽；<br/><br/>
	在私密的空间里，享受水疗、按摩、护肤的专业服务及五星级充满自然气息的舒适氛围<br/><br/>
	引领将抗生活方式、让您由心感受。
	 	</p>	 	
	 </div>
	 </div>
	 <div class="filettoSlider"><img src="/images/oldimages/filettoBox.png" tppabs="http://www.t2max.com/img/filettoBox.png" alt="" /></div>
  	</div>
  		
  		<div class="text scroll-pane press" id="pane3" style="width:420px;z-index:-130">  			
  			<div class="pressContainer" name="0" style="z-index:-130;">
  				<img width="402" height="334" alt="" src="/images/product/spa1.jpg" />
			  		<div style="background-color:#848484;margin-right:3px ;height:40px  ">
			  			<a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >时差恢复/90分钟/￥1278</option>
			  						<option value="1" >商务之旅/90分钟/￥1408</option>
			  						<option value="2" >皇家四手/90分钟/￥1798</option>
			  						</select>
			  				</dd></dl>
			  			    </div>                
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
  				<img width="402" height="334" alt="" src="/images/product/spa2.jpg" />
  				    <div style="background-color:#848484;margin-right:3px ;height:40px  ">		  			        
			  			<a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>			            
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >洗+吹/￥108</option>
			  						<option value="1" >洗+剪+吹/￥158</option>
			  						<option value="2" >洗+剪+吹+造型/￥198</option>
			  						<option value="3" >各式造型烫发/￥498-798</option>
			  						<option value="4" >各式挑染/￥498-798</option>
			  						<option value="5" >高级发膜/￥368-668</option>
			  						<option value="6" >儿童剪发/￥108</option>
			  						<option value="7" >修胡须/￥78</option>
			  						</select>
			  				</dd></dl>
			  			    </div>    
			  			             
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
  				<img width="402" height="334" alt="" src="/images/product/spa3.jpg" />
  				    <div style="background-color:#848484;margin-right:3px ;height:40px  ">
			  			<a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >修甲/￥128</option>
			  						<option value="1" >美甲/￥168</option>
			  						<option value="2" >美趾甲/￥168</option>
			  						<option value="3" >纤手护理/￥168</option>
			  						<option value="4" >纤脚护理/￥218</option>
			  						</select>
			  				</dd></dl>
			  			    </div>                
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
		             
  				<img width="402" height="334" alt="" src="/images/product/spa4.jpg" />
  				    <div style="background-color:#848484;margin-right:3px ;height:70px  ">			  			
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >快速面部护理/40分钟/￥368</option>
			  						<option value="1" >骨胶原面膜/30分钟/￥368</option>
			  						<option value="2" >活水保湿面部护理/60分钟/￥498</option>
			  						<option value="3" >活力能量面部护理/60分钟/￥628</option>
			  						<option value="4" >骨胶原紧致提升护理/75分钟/￥888</option>
			  						</select>
			  				</dd></dl>
			  			    </div>                
			  			    <a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			           
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
		             
  				<img width="402" height="334" alt="" src="/images/product/spa5.jpg" />
  				    <div style="background-color:#848484;margin-right:3px ;height:40px  ">
			  			<a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >特色体膜/60分钟/￥888</option>
			  						<option value="1" >瑞典香薰/60分钟/￥758</option>
			  						<option value="2" >淋巴排毒/60分钟/￥628</option>
			  						<option value="3" >泰式按摩/60分钟/￥628</option>
			  						<option value="4" >日式按摩/60分钟/￥498</option>
			  						<option value="5" >中式按摩/45分钟/￥368</option>
			  						<option value="6" >东方三椎/30分钟/￥258</option>
			  						</select>
			  				</dd></dl>
			  			    </div>                
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
		             
  				<img width="402" height="334" alt="" src="/images/product/spa6.jpg" />
  				    <div style="background-color:#848484;margin-right:3px ;height:40px  ">
			  			<a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			                <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >放松足疗/30分钟/￥128</option>
			  						<option value="1" >背部拔罐/￥238</option>
			  						<option value="2" >背部刮痧/￥238</option>
			  						</select>
			  				</dd></dl>
			  			    </div>                
		             </div>
		             <div style="background-color:#56cdff;margin-right:3px ;height:3px  "></div>
		             
  				<img width="402" height="334" alt="" src="/images/product/spa7.jpg" /> 
  				    <div style="background-color:#848484;margin-right:3px ;height:70px  ">
			  			     <div style="float: left;margin-right: 3px;margin-left: 1px;margin-top:7px ">
			  				<dl><dd>
			  					<select size="1" >
			  						<option value="-1">选择一项服务</option>
			  						<option value="0" >精油/60分钟/￥368</option>
			  						<option value="1" >牛奶、花瓣（送足底火罐拔毒）/60分钟/￥288</option>
			  						<option value="2" >肾保健（送足底火罐拔毒）/60分钟/￥288</option>
			  						<option value="3" >药物/60分钟/￥218</option>
			  						<option value="4" >保健/45分钟/￥168</option>
			  						<option value="5" >纤脚 /刮脚 /捏脚/￥78</option>
			  						<option value="6" >足底火罐拔毒/￥108</option>
			  						</select>
			  				</dd></dl>
			  			    </div>     
			  			    <a title="ADD TO CART"  href="/stores/add_to_cart?id=6" ><img width="160" height="30" alt="" src="/images/services/add_to_cart.png" style="margin-top:5px;float:right;margin-right: 4px  "/></a>
			                      
		             </div>
  				
  			</div>	
  		</div>
  	
  	</div>