     <div id="HideMenu" class="leftList">
		<div id="hiddenShortcuts" class="leftList">
		    <h3><span>快捷方式</span></h3>
		    <ul onmouseover="hiliteItem(this,'no');">
            <li>
		        <a href="/cad_positions/new"><img src="/images/crm/CreateEmails.gif" width="16" height="16" alt="新增招聘" border="0" align="absmiddle">&nbsp;<span>新增招聘</span></a>
		    </li> 
            <li>
		        <a href="/vips/new"><img src="/images/crm/CreateTasks.gif" width="16" height="16" alt="VIP办卡" border="0" align="absmiddle">&nbsp;<span>VIP办卡</span></a>
		    </li> 
		     <li>
		        <a href="/vip_records/new"><img src="/images/crm/CreateOpportunities.gif" width="16" height="16" alt="VIP消费" border="0" align="absmiddle">&nbsp;<span>VIP消费</span></a>
		    </li>
            <li>
		        <a href="/orders"><img src="/images/crm/CreateAccounts.gif" width="16" height="16" alt="处理订单" border="0" align="absmiddle">&nbsp;<span>处理订单</span></a>
		    </li>
		    <li>
		        <a href="/service_tasks/new"><img src="/images/crm/CreateCases.gif" width="16" height="16" alt="跟单调配" border="0" align="absmiddle">&nbsp;<span>跟单调配</span></a>
		    </li>
		    		     
		    <li>
     		   <a href="#"><img src="/images/crm/CreateCampaigns.gif" width="16" height="16" alt="新闻发布" border="0" align="absmiddle">&nbsp;<span>新闻发布</span></a>
  			</li>
  			<li>
		        <a href="#"><img src="/images/crm/CreateMeetings.gif" width="16" height="16" alt="服务设置" border="0" align="absmiddle">&nbsp;<span>服务设置</span></a>
		    </li>
		    <li>
		        <a href="#"><img src="/images/crm/CreateCalls.gif" width="16" height="16" alt="网站设置" border="0" align="absmiddle">&nbsp;<span>网站设置</span></a>
		    </li>
		        </ul>
		</div>
		</div>   
     
        <div id="leftHandle">
    <img id="HideHandle" name="HideHandle" src="/images/crm/hide.gif" alt="">
</div>    <div id="leftColumn">
                <div id="shortcuts" class="leftList">
    <img id="shortcuts_img" alt="隐藏" align="right" src="/images/crm/hide_submenu_shortcuts.gif">
    <img id="shortcuts_img_1" alt="显示" align="right" src="/images/crm/show_submenu_shortcuts.gif">
   <h3><span>快捷方式</span></h3>
    <ul id="ul_shortcuts">
    	    <li>
		        <a href="/cad_positions/new"><img src="/images/crm/CreateEmails.gif" width="16" height="16" alt="新增招聘" border="0" align="absmiddle">&nbsp;<span>新增招聘</span></a>
		    </li> 
	        <li>
		        <a href="/vips/new"><img src="/images/crm/CreateTasks.gif" width="16" height="16" alt="VIP办卡" border="0" align="absmiddle">&nbsp;<span>VIP办卡</span></a>
		    </li> 
		     <li>
		        <a href="/vip_records/new"><img src="/images/crm/CreateOpportunities.gif" width="16" height="16" alt="VIP消费" border="0" align="absmiddle">&nbsp;<span>VIP消费</span></a>
		    </li>
            <li>
		        <a href="/orders"><img src="/images/crm/CreateAccounts.gif" width="16" height="16" alt="处理订单" border="0" align="absmiddle">&nbsp;<span>处理订单</span></a>
		    </li>
		    <li>
		        <a href="/service_tasks/new"><img src="/images/crm/CreateCases.gif" width="16" height="16" alt="跟单调配" border="0" align="absmiddle">&nbsp;<span>跟单调配</span></a>
		    </li>
		    		     
		    <li>
     		   <a href="#"><img src="/images/crm/CreateCampaigns.gif" width="16" height="16" alt="新闻发布" border="0" align="absmiddle">&nbsp;<span>新闻发布</span></a>
  			</li>
  			<li>
		        <a href="#"><img src="/images/crm/CreateMeetings.gif" width="16" height="16" alt="服务设置" border="0" align="absmiddle">&nbsp;<span>服务设置</span></a>
		    </li>
		    <li>
		        <a href="#"><img src="/images/crm/CreateCalls.gif" width="16" height="16" alt="网站设置" border="0" align="absmiddle">&nbsp;<span>网站设置</span></a>
		    </li>
        </ul>
</div>
        <div id="newRecord">
<img id="newrecordicon" alt="隐藏" align="right" src="/images/crm/hide_submenu_shortcuts.gif">
<img id="newrecordicon_1" alt="显示" align="right" src="/images/crm/show_submenu_shortcuts.gif">
</div>
    </div>